.footer{
    background-color: #F4F4F6;
    min-height: 482px;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 155px;
    gap: 160px;
}
.dark .footer{
    background-color: black;
}
.dark .fooparts p{
    color: whitesmoke !important;
}
.dark .foobrands{
    color: whitesmoke;
}
.dark .fbranddiv:hover{
    background-color: white;
}
.dark .fbranddiv:hover .foobrands{
    color: black;
}
.fooparts1{
    display: flex;
    flex-direction: column;
    gap: 240px;
    color: #585858;
}
.fooparts{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 65px;
}
.fsocials{
    display: flex;
    gap: 18px;
}
.fsocials div{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fsocials div i{
    color: rgb(67, 67, 67);
    font-size: 15px;
}
.fsocials div:hover{
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}
.fsocials div:hover i{
    color: white;
    transition: 0.5s;
}
.fooparts2 b p:hover{
    cursor: pointer;
    color: rgb(141, 141, 141) !important;
    transition: 0.7s;
}
.fooparts3 p:hover{
    cursor: pointer;
    color: rgb(163, 163, 163) !important;
    transition: 0.7s;
}
.flogo{
    color: #008000;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}

@media only screen and (max-width: 1609px){
    .footer{
        column-gap: 300px;
    }
}
@media only screen and (max-width: 1457px){
    .footer{
        column-gap: 400px;
    }
}
@media only screen and (max-width: 1091px){
    .footer{
        row-gap: 40px;
    }
    .fooparts1{
        row-gap: 70px;
    }
}
@media only screen and (max-width: 620px){
    .footer{
        padding: 70px 40px;
    }
}
