.sec3{
    background-color: #B8E14A;
    min-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark .sec3{
    background-color: black;
}
.calc{
    width: 70%;
    min-height: 600px;
    border-radius:  40px;
    display: flex;
}
.calc-part{
    width: 50%;
    min-height: 600px;
    padding: 60px;
}
.calc-part1{
    background-color: #FFFFFF;
    border-top-left-radius:  40px;
    border-bottom-left-radius:  40px;
}
.dark .calc-part1{
    background-color: #2F2F2F;
    color: whitesmoke;
}
.dark .calc-part1 .wayp,
.dark .calc-part1 .rgv1-span,
.dark .calc-part1 .langp,
.dark .calc-part1 .rgv2-span{
    color: whitesmoke !important;
}
.calc-part2{
    background-color: #F9F9F9;
    border-top-right-radius:  40px;
    border-bottom-right-radius:  40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dark .calc-part2{
    background-color: #212121;
    color: whitesmoke;
}
.dark .calc-part2 .salaryp,
.dark .calc-part2 #salary,
.dark .calc-part2 .manatsign,
.dark .calc-part2 .invest,
.dark .calc-part2 .futurej,
.dark .calc-part2 .abroadof{
    color: whitesmoke !important;
}
@media only screen and (max-width:1226px){
    .calc{
        flex-direction: column;
        width: 90%;
        padding-left: 70px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .calc-part1{
        width: 90%;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 1px;
        min-height: 300px;
    }
    .calc-part2{
        width: 90%;
        border-top-right-radius: 1px;
        border-bottom-left-radius: 40px;
        min-height: 300px;
    }
}

@media only screen and (max-width:602px){
    .wayradio{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
@media only screen and (max-width:564px){
    .calc-headp{
        font-size: 25px !important;
    }
    .wayp{
        font-size: 16px !important;
    }
    .langp{
        font-size: 16px !important;
    }
}
@media only screen and (max-width:538px){
    .calc{
        padding-left: 35px;
    }
}
@media only screen and (max-width: 499px){
    .rgv1-span{
        font-size: 11px !important;
    }
    .rgv2-span{
        font-size: 11px !important;
    }
}
@media only screen and (max-width: 438px){
    .rgv1-span{
        font-size: 9px !important;
    }
    .rgv2-span{
        font-size: 9px !important;
    }
}
@media only screen and (max-width: 428px){
    .calc-headp{
        font-size: 20px !important;
    }
}
@media only screen and (max-width:421px){
    .calc{
        padding-left: 29px;
    }
}
@media only screen and (max-width:402px){
    .calc{
        padding-left: 10px;
    }
    .calc-part{
        padding: 20px;
    }
    .calc-part1,.calc-part2{
        width: 100%;
    }
}